[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Behruza
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Behruza
	label-Verified = -1..+1 group user/Behruza
	push = group user/Behruza
	read = group user/Behruza
	rebase = group user/Behruza
	removeReviewer = group user/Behruza
	submit = group user/Behruza
[access "refs/heads/*"]
	create = group user/Behruza
	push = +force group user/Behruza
	pushMerge = group user/Behruza
	read = group user/Behruza
[access "refs/tags/*"]
	push = group user/Behruza
	push = +force group user/Behruza
